@page
@model RazorPagesMovie.Pages.Movies2.IndexModel

@{
    ViewData["Title"] = "Movie Database";
}

<h1>Movie Database</h1>
<input type="button" value="Add Movie" class="btn btn-primary" onclick="window.location='MovieDatabase/Create'" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie2[0].Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie2[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie2[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie2[0].Rated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movie2) {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Poster)" height="150" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rated)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.imdbID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.imdbID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
